*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  display: flex;
}

.wrapper {
  flex: 1;
}

dd, dl, dt, li, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #586069;
}

.nav {
  display: flex;
  flex: 0 50px;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  .title {
    font-size: 22px;
    color: #0095ff;
    margin-right: 80px;
  }
  li {
    margin-left: 20px;
  }
}
